html {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin: 0px;
  > series-chart {
    flex: 1;
    margin: 0px 15px;
  }
}

a {
  color: #7A28A0;
  text-decoration: none;
  &:hover {
    color: #55266B;
    text-decoration: underline;
  }
}

header {
  flex: 0 0 auto;
}

h1,h2 {
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
  font-size: 28px;
  line-height: 30px;
}

h2 {
  font-size: 18px;
  line-height: 20px;
}

header {
  display: flex;
  flex-flow: row wrap;
  background-color: #C4297B;
  color: #fff;
  > h1 {
    margin: 5px 15px;
    text-shadow: rgba(0, 0, 0, 0.0980392) 0px 1px 0px;
  }
  > tags-input {
    flex: 1 1;
    margin: 0px 15px;
    min-width: 200px;
  }
}
