<!DOCTYPE html>

<html ng-app="name-trends" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Name trends</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
  </head>
  <body ng-controller="ApplicationController">
    <div class="container">
      <div class="page-header">
        <h1>Name trends</h1>
      </div>
      <div class="row">
        <div class="col-md-12">
          <tags-input ng-model="filterValues" display-property="name" add-from-autocomplete-only="true" placeholder="Add a name">
            <auto-complete source="loadNames($query)"></auto-complete>
          </tags-input>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <series-chart series="series" series-x="date" series-y="ratio" />
        </div>
      </div>
    </div>
    <script src="js/name-trends.min.js" charset="utf-8"></script>
  </body>
</html>
