<!DOCTYPE html>

<html ng-app="namntrender" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Namntrender</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
  </head>
  <body ng-controller="ApplicationController">
    <header>
      <h1>Namntrender</h1>
      <tags-input ng-model="filterValues" display-property="name" add-from-autocomplete-only="true" placeholder="Lägg till ett namn">
        <auto-complete source="loadNames($query)" min-length="1"></auto-complete>
      </tags-input>
    </header>
    <series-chart series="series" series-x="date" series-y="ratio"></series-chart>
    <footer>
      <button ng-click="about = !about" ng-init="about = false">{{ about ? '&times;' : '?' }}</button>
      <div class="about" ng-include="'partials/about.html'" ng-show="about"></div>
    </footer>
    <script src="js/namntrender.min.js" charset="utf-8"></script>
  </body>
</html>
